<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="barinder.example.com.navigationdrawer" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".DogsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label=" " >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Add"
            android:label="@string/title_activity_add" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".OnlineBckup"
            android:label="@string/title_activity_online_bckup" >
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name=".Memo"
            android:label="@string/title_activity_memo" >
        </activity>
        <activity
            android:name=".MedicalRecords"
            android:label="@string/title_activity_medical_records"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".Veternaries"
            android:label="@string/title_activity_veternaries" >
        </activity>
        <activity
            android:name=".MyDogCard"
            android:label="@string/title_activity_my_dog_card"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name=".UpdateDogInfo"
            android:label="@string/title_activity_update_dog_info" >
        </activity>
        <activity
            android:name=".Vaccination"
            android:label="@string/title_activity_vaccination"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".AddVaccination"
            android:label="@string/title_activity_add_vaccination" >
        </activity>
    </application>

</manifest>
